<main>
  <section>
    <h1>TODO List</h1>
    <p>A Place to store your todos</p>
    <form action="">
      <input type="text" name="filter" placeholder="Filter your to-dos" />
    </form>
    <ol>
      <li *ngFor="let item of todos; index as i">
        <div class="item_container">
          <button *ngIf="!item.completed" class="complete_btn">Complete</button>
          <p class="task" [ngClass]="{completed: item.completed}">{{ item.task }}</p>
          <button>X</button>
        </div>
      </li>
	</ol>
	<form action="">
		<input type="text" name="todo" placeholder="Add Your to-do" />
		<button class="add">Add</button>
	</form>
  </section>
</main>
